@use "../base/variables" as *;

body {
    background-color: $colorEggshell;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .recipe{
        background-color: $colorWhite;
        width: 50vw;
        min-width: 320px;
        max-width: 750px;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        

        .recipe-image{
            width: 100%;
            border-radius: 10px;
        }
    }
}

li {
    list-style-position:inside;
    margin-bottom: 15px;
    margin-left: 10px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section,
aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.preparation-time {
    background-color: $colorRoseWhite;
    padding: 15px 0 10px 25px;
    border-radius: 10px;
}