@use "./variables" as *;

.recipe {
    font-family: $fontFamilyOutfit;
    font-size: $fontSizeParagraph;
    font-weight: 400;
    color: $colorWengeBrown; 
    line-height: 1.5;

    .recipe-title {
        color: $colorDarkCharcoal;
    }

    h1, h2{
        font-family: $fontFamilyYoung;
        font-weight: 400;
    }

    h2 {
        color: $colorNutmeg;
    }

    h3 {
        color: $colorDarkRaspberry;
        font-weight: 700;
    }
}